# NVIDIA Cloud Functions / Riva ASR Configuration
NVIDIA_API_KEY=tu_api_key_de_nvidia_aqui
NVIDIA_RIVA_SERVER=grpc.nvcf.nvidia.com:443
NVIDIA_FUNCTION_ID=71203149-d3b7-4460-8231-1be2543a1fca
NVIDIA_LANGUAGE_CODE=es-US
